@{
    ViewBag.Title = "Контакт";
}

<div style="width:100%; ">
    <div style="display: block; margin-left: auto; margin-right: auto; width:280px;">
        <h2>@ViewBag.Title.</h2>
        <address>
            Ул.Лазар Колишевски бр.4<br />
            с.Пирава, Валандово 2463<br />
            <abbr title="Phone">Телефон:</abbr>
            077-789-113
        </address>

        <address>
            <strong>Поддршка:</strong>   <a href="mailto:pavlovtasko@gmail.com">PSPTechSkopje@gmail.com</a><br />
            <strong>Пофалби/Поплаки:</strong> <a href="mailto:pavlovtasko@gmail.com">PSPTechSkopje@gmail.com</a>
        </address>
    </div>
</div>