
@{
    ViewBag.Title = "Purchase";
}

<div class="container">
    <div class="row">
        <div class="col-md-12"style="font-size:medium;">
            <h2 style="width: 65%;margin-left: auto;margin-right: auto;">Ви благодариме за нарачката: @ViewBag.FirstName @ViewBag.LastName</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"style="font-size:large;">
            <h3 style="width: 80%;margin-left: auto;margin-right: auto;">Вашите производи ќе бидат доставени на следнава адреса: <b>@ViewBag.Address</b></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"style="font-size:large;">
            <h4 style="width: 80%;margin-left: auto;margin-right: auto;">Тимот на PSP Merchendise Store ви се заблагодарува за вашата нарачка, ве очекуваме повторно!</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"style="font-size:medium;">
            <a style="margin-left: auto;margin-right: auto;width: 160px;display:block;" href="/" class="btn btn-md btn-default">Вратете се назад</a>
        </div>
    </div>
</div>




