@{
    ViewBag.Title = "About";
}
<h2>За нас.</h2>

<div class="row">
    <div class="col-md-12" >
        <img src="~/UploadedFiles/PSP_Merch_Shop_Logo.jpg" style="display: block; margin-left: auto; margin-right: auto; width:30%; height:30%;margin-bottom: 50px;" />
    </div>
</div>



<div class="row">
    <div class="col-md-12" style="font-size:medium;">
        <p>
            •	"PSP Merchendise Store" е нов сајт во македонскиот сајбер простор, стартуван во 2020 година, преку кој љубителите на облеката ќе можат да најдат и купат ретки и уникатни примероци на мајци, панталони, капи. Креиран од страна на тројца ентузијасти кои инспирирани од ненаоѓањето на соодветен стил на облека одлучиа работите да ги земат во свои раце и да ги снабдат сите, којшто го имале истиот проблем. Сајтот располага со многу различни стилови на облека од којшто било кој купувач би можел да пронајде тоа што го сака и бара.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="font-size:medium;">
        <p>
            •	"PSP Merchendise Store" го следи трендот на многу светски познати сајтови, и, merchendise stores, овозможувајќи најблизок контакт на луѓето со светските трендови, меѓутоа, и, со многу бизарни и уникатни култури и стилови, со тоа креирајќи фузија од дизајнот на голем број светски познати музички, и, продуцентски издавачки куќи, кои продаваат соодветна облека за рекламација на бендови, филмови, артисти, режисери, инженери итн., но исто така, и многу секојдневни производи.
        </p>
     </div>
</div>
<div class="row">
    <div class="col-md-12" style="font-size:medium;">
        <p>
            •	Исто така, доколку одреден купувач има потреба од производ, што го немаме во нашиот каталог, тој би можел многу лесно да не контактира, преку соодветната форма поставена на сајтот. Облеката може да биде од било кој регион на светот, но тоа нема да не спречи да не ве снабдиме со истата. Освен патните трошоци, друг вид на трошоци немаме за таков вид на порачки, и иницијалната цена на нарачките си останува независно од каде се. Ова го правиме бидејќи сме спремни да дадеме се од себе за да купувачите можат да бидат задоволни, и да го носат она што сакаат.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="font-size:medium;">
        <p>
            •	На сите продукти, нудиме гаранција, на оние од нашиот каталог, но и на нарачките што ќе ги правите преку нас, односно, ќе ви бидат вратени сите пари, доколку:
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="font-size:medium;">
        <p>
            1.	Не сте задоволни од нашиот продукт и сакате да го вратите <br />
            2.	Продуктот што сте го нарачале е оштетен, или, несоодветен на презентацијата од каталогот <br />
            3.	Не ви стигнал продуктот навреме
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="font-size:medium;">
        <p>
            Сметаме дека ова се доволно информации за да можете да заклучите зошто би сакале да ги направите зделките со нас.
            Направете го најдобриот избор, бирајќи, го најдоброто во регионот.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="text-align:center">
        <h2>
            PSP Merchendise Shop - Емил Петровски, Никола Станојковски и Ташко Павлов
        </h2>
    </div>
</div>
