
@{
    ViewBag.Title = "Home Page";
}


<div class="olContent f1">
    <h2 style="color:black;text-align:center;">Пребарај Производ</h2>
</div>
<div class="olSearch fr row" style="padding-bottom: 20px;">
    <input type="text" name="searchKey" placeholder="Внеси име на производот" class="inputComn houseText form-control" id="search" style="margin: auto;" />
    <div class="searchIcon">
        <a class="searchBtn btn btn-md btn-default" style="margin-left: -455px;">
            <img width="28" height="28" src="~/UploadedFiles/search__ICON.png" />
        </a>
    </div>
</div>

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <a href="/Products/Details/4"><div class="imgOverlay"></div></a>
            <img style="max-height: 850px;" src="~/UploadedFiles/nasa_man_shirt.jpg" alt="First slide">
            <div class="carousel-caption">
                <h3>Маици</h3>
                <p>Најпопуларните маици, по најниски цени!</p>
            </div>
        </div>
        <div class="item">
            <a href="/Products/Details/3"><div class="imgOverlay"></div></a>
            <img style="max-height: 850px;" src="~/UploadedFiles/women_jeans.jpg" alt="Second slide">
            <div class="carousel-caption">
                <h3>Фармерки</h3>
                <p>Најквалитетните фармерки само кај нас!</p>
            </div>
        </div>
        <div class="item">
            <a href="/Products/Details/5"><div class="imgOverlay"></div></a>
            <img style="max-height: 850px;" src="~/UploadedFiles/hat.png" alt="Third slide">
            <div class="carousel-caption">
                <h3>Капи</h3>
                <p>Капи со натписи, по најповолни цени!</p>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>
    @if (!Request.IsAuthenticated)
    {
        <div class="main-text hidden-xs hidden-sm">
            <div class="col-md-12 text-center">
                <h1>Најави се и почни со твојот шопинг!</h1>
                <h3>Предметите кои ви се допаѓаат ставете ги во вашата шопинг кошничка.</h3>
                <div class="clearfix"></div>
                <div class="carousel-btns">
                    <a class="btn btn-md btn-default" href="/Account/Login">Најави се!</a>
                    <a class="btn btn-md btn-default" href="/Account/Register">Регистрирај се!</a>
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript">

            $(document).ready(function () {
                var getAllNames = @Html.Raw(@ViewBag.AllNames);
                $("#search").autocomplete({
                    source: getAllNames
                });
                $(".searchBtn").click(function () {
                    var getName = $("#search").val();
                    if (getName != 0) {
                        $(this).attr("href", "/Products/Search?ProductName=" + getName);
                    }
                });
            });
    </script>
}
